/* añadidos */

.barra-superior {
  	width:100%;
  	background:#1571C7;
  	/*color:white;*/
  	color: #CCF516;
  	margin-bottom:30px;
  	opacity: 0.8;
}

.email-barra-superior{
	width:100%;
	text-align:right;
	padding: 5px 40px 5px 0;
	font-weight:bold;
	color: yellow;	
}

/* Ancho del menú*/
ul.navig {
  padding: 0;
  margin-top: 1.6%;
  margin-bottom: 2.2%;
}

/* unvisited link */
.email-barra-superior a:link {
    color: yellow;
}
/* visited link */
.email-barra-superior a:visited {
    color: white;
}
/* mouse over link */
.email-barra-superior a:hover {
    color: white;
}
/* selected link */
.email-barra-superior a:active {
    /*color: blue;*/
}

@media (max-width: 768px){
	.barra-superior {
  		display:none;
	}
	
	.email-barra-superior {
		display:none;
	}
}

/*.header {
	position:fixed;
  	width:100%;
  	background:#4AB3CF;
  	z-index:2000;
}*/

.header {
	position:fixed;
  	width:100%;
  	padding: 0;
  	/*background: rgba(65, 184, 133, 0.6);*/
  	background: rgba(65, 133, 184, 0.9);
  	z-index: 999;
}

.hueco-cabecera {
	height:125px;
}

@media (max-width: 768px){
	.hueco-cabecera {
		display:none;
	}
}

/* Banner*/
.banner {
  	background: url(../images/banner-2.png) no-repeat;
  	background-size: 100% 100%;
  	background: rgba(65, 133, 184, 0.6);
  	-webkit-background-size: 100% 100%;
 	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
  	-ms-background-size: 100% 100%;
  	min-height: 613px;
}
.banner1 {
  	background: url(../images/banner-2.png) no-repeat;
  	background-size: 100% 100%;
  	background: rgba(65, 133, 184, 0.6);
  	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	-ms-background-size: 100% 100%;
  	min-height: 350px;
}


/* Servicios */
#ideas {
	margin-bottom:20px;
}

/* Fondo de botones*/
.i-btn a:hover,.team-msg-right a:hover,.error-btn a:hover{
	background: #3492E3;
	/*background:#45b887;*/
}

/* Franja números*/
.number{
	padding:3em 0px;
	background: #79B8E8;
}



/* Parnters*/
.part {
  background: #79B8E8;
}

/* Fondo - últimos trabajos*/
.b-wrapper:hover {
	background: rgba(121, 184, 232, 0.75);
	/*background: rgba(69, 184, 135, 0.75);*/
}


/* Formulario - boton Mensaje*/
.stop-btm input[type=submit]:hover,.tb-one input[type=submit]:hover{
  	background: #79B8E8;
}

#formulario {
	margin-bottom:80px;
}

@media (max-width: 768px){
	#formulario {
		margin-bottom:10px;
	}
}

/* Color boton al pasar el raton*/
.footer-middle p a:hover,.footer-right p a:hover,
.contact-right p a:hover,.stop-left p a:hover{
	text-decoration:none;
	color:#79B8E8;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}